body
  padding-bottom: 0;

.logo
  width auto

#footer
  .widget
    margin-bottom: 0;

.navbar

  .page-header
    margin-left: 0;
    margin-right: 0;

  .navbar-menu > li > a
    line-height: 40px;
    padding: 0 10px;
    width: auto;
    font-size: 16.25px;

  .navbar-buttons
    margin-right: 20px;

  .navbar-buttons > li
    float: left;

  .navbar-buttons > li > a
    margin: 7px 10px;
